{
  "presets": ["es2015", "es2016", "es2017", "flow"],
  "plugins": [
    "transform-async-to-generator",
    "transform-class-properties",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "env": {
    "production": {
      "presets": ["es2015", "es2016", "es2017", "flow", "babili"]
    }
  }
}
